.panel {
    margin: 0px;
    position: relative;
    margin-bottom: 20px;
    background: $panel-background-color;
    padding: 20px;
    overflow: show;
    
    &.main-panel {
        background-image: url('../img/panel_header_bg.png');
        background-repeat: no-repeat;
        padding-top: 80px;
    }
}



.image-panel {
                padding: 0 0 1px 0;
				background: #fff;
				background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
				background: -webkit-linear-gradient(0 0 270deg, #fff, #fff 10%, #f3f3f3);
				background: -o-linear-gradient(0 0 270deg, #fff, #fff 10%, #f3f3f3);
				background: -moz-linear-gradient(0 0 270deg, #fff, #fff 10%, #f3f3f3);
				border-top: 1px solid #ccc;
				border-right: 1px solid #ccc;
				border-left: 1px solid #ccc;
				-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);	
                width: auto;
                display: inline-block;
                position: relative;

                &.portrait {
                    position: absolute;
                    right: 0px;
                    top: 160px;
                    z-index: 900;
                    transform: rotate(5deg)
                }

                img {
                    padding: 5px;
                    border: 0;
                    margin: 0;
                    width: 250px;
                    background: transparent;
                }


			&:before{
				content: '';
				position:absolute;
				width: 130px;
				height: 30px;
				border-left: 1px dashed rgba(0, 0, 0, 0.1);
				border-right: 1px dashed rgba(0, 0, 0, 0.1);
			    background: rgba(0, 0, 0, 0.1);
				background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
				background: -webkit-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
				background: -o-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
				background: -moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
				-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
				-webkit-transform:translate(-50px,10px) skew(10deg,10deg) rotate(-50deg);
				-moz-transform:translate(-50px,10px) skew(10deg,10deg) rotate(-50deg);	
					-o-transform:translate(-50px,10px) skew(10deg,10deg) rotate(-50deg);	
					transform:translate(-50px,10px) skew(10deg,10deg) rotate(-50deg);						
			}
			&:after{
				content: '';
				position:absolute;
				right:0;
				bottom:0;
				width: 130px;
				height: 30px;
				background: rgba(0, 0, 0, 0.1);
				background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
				background: -webkit-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
				background: -o-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
				background: -moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
				border-left: 1px dashed rgba(0, 0, 0, 0.1);
				border-right: 1px dashed rgba(0, 0, 0, 0.1);
				-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
				-webkit-transform: translate(50px,-20px) skew(10deg,10deg) rotate(-50deg);
				-moz-transform: translate(50px,-20px) skew(10deg,10deg) rotate(-50deg);
				-o-transform: translate(50px,-20px) skew(10deg,10deg) rotate(-50deg);
				transform: translate(50px,-20px) skew(10deg,10deg) rotate(-50deg);						
			}

}